<!-- footer -->
<section class="footer-information">
    <div class="footer-container">

      <div class="row footer-top" style="border-bottom:1px solid grey;">
        <div class="col-lg-3 col-md-6 col-sm-12 col-12 col footer-col foot-col1" style="width:300px;">
          <div class="footer-item">
            <h6>Vision</h6>
          </div>
          <div class="footer-content">
            <p>Creativity, Expression, & Exploration</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12 col footer-col foot-col2" style="width:300px;">
          <div class="footer-item">
            <h6>Pages</h6>
          </div>
          <div>
            <div class="underline-animation">About Us</div>
            <div class="underline-animation">Contact Us</div>
            <div class="underline-animation">Terms and condition</div>
            <div class="underline-animation">Privacy policy</div>
            <div class="underline-animation">FAQ</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12 col footer-col foot-col3" style="width:300px;">
          <div class="footer-item">
            <h6>Administration</h6>
          </div>
          <div>
            <div class="underline-animation">Admin Login</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12 col footer-col foot-col4" style="width:300px;">
          <div class="footer-item">
            <h6>Follow Us</h6>
          </div>
          <div>
            <div class="underline-animation">
              <span><i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
              </span>
              <span style="margin-left:8px;">Twitter</span>
            </div>
            <div class="underline-animation">
              <span><i class="fa-brands fa-square-facebook" style="color: #ffffff;"></i>
              </span>
              <span style="margin-left:10px;">Facebook</span>
            </div>
            <div class="underline-animation">
              <span><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></span>
              <span style="margin-left:10px;">Youtube</span>
            </div>
            <div class="underline-animation">
              <span><i class="fa-brands fa-youtube" style="color: #ffffff;"></i></span>
              <span style="margin-left:8px;">Instagram</span>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div style="color:#ffffff;">
          <span>copyright©2023</span>
          <a href="index.html" class="link-decoration"><span>ABC News</span></a>
          <a href="https://www.shopify.com/?utm_campaign=poweredby&utm_medium=shopify&utm_source=onlinestore"
            class="link-decoration"> <span>Powered By Shopify</span> </a>
        </div>
      </div>
    </div>
  </section>

</section>

</body>
<script src="index.js"></script>

</html>