<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <script src="https://kit.fontawesome.com/abfccd6663.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>
    <div class="content-box">
        <div class="header">
            <span class="main_title">ABC News Of India</span>
            <span class="admin_login"><a class="nav-link" href="/Admin_login"><i
                        class="fas fa-user"></i>&nbsp;Admin</a></span>
        </div>
        <div class="content-wrap">
            <section class="allNews">
                <article class="card-news">
                    <!-- <div class="newsCard"> -->
                    <!-- News content -->
                    <div class="news">
                        <div class="newsBanner">
                            <img src="images/6.avif" alt="" style="width: 300px;">
                        </div>
                        <div>
                            <h4 class="news-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h4>
                            <p class="news-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe
                                soluta
                                hic, alias consectetur fugit natus quidem ipsum molestiae veniam aspernatur ex,
                                doloremque ut laboriosam? Aut fugit nostrum architecto ad porro necessitatibus,
                                facilis
                                est voluptatum, a molestias eum explicabo labore modi quasi, voluptas quidem
                                voluptate
                                maiores. Obcaecati praesentium repudiandae ut dicta illo rem sint, enim quas
                                repellat
                                minus debitis possimus, fuga ipsam dolore inventore expedita animi quidem soluta
                                blanditiis! Recusandae error doloremque asperiores vel debitis, possimus cum nemo,
                                et
                                quas veritatis, deleniti fuga architecto ipsa neque temporibus odit atque tempora
                                repudiandae odio excepturi delectus?
                            </p>
                        </div>
                        <!-- </div> -->
                </article>
                <article class="card-news">
                    <!-- <div class="newsCard"> -->
                    <!-- News content -->
                    <div class="news" style="display: flex;">
                        <div class="newsBanner">
                            <img src="images/6.avif" alt="" style="width: 300px;">
                        </div>
                        <div>
                            <h4 class="news-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h4>
                            <p class="news-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe
                                soluta
                                hic, alias consectetur fugit natus quidem ipsum molestiae veniam aspernatur ex,
                                doloremque ut laboriosam? Aut fugit nostrum architecto ad porro necessitatibus,
                                facilis
                                est voluptatum, a molestias eum explicabo labore modi quasi, voluptas quidem
                                voluptate
                                maiores. Obcaecati praesentium repudiandae ut dicta illo rem sint, enim quas
                                repellat
                                minus debitis possimus, fuga ipsam dolore inventore expedita animi quidem soluta
                                blanditiis! Recusandae error doloremque asperiores vel debitis, possimus cum nemo,
                                et
                                quas veritatis, deleniti fuga architecto ipsa neque temporibus odit atque tempora
                                repudiandae odio excepturi delectus?
                            </p>
                        </div>
                        <!-- </div> -->
                </article>


                <!-- Add more card-news here -->
            </section>
            <aside class="ad-container">
                <!-- Ads content -->
                <div class="adDiv col-lg-2">
                    <!-- Ad content -->
                    <img src="images/6.avif" alt="not-found">
                </div>

                <div class="adDiv col-lg-2">
                    <!-- Ad content -->
                    <img src="images/6.avif" alt="not-found">
                </div>
                <!-- Add more ads here -->
            </aside>

        </div>
        <section class="swiper">
            <div class="swiper-body">
            <swiper-container class="mySwiper" pagination="true" pagination-dynamic-bullets="true"
                pagination-clickable="true" space-between="30" centered-slides="true" autoplay-delay="2500"
                autoplay-disable-on-interaction="false">
                <swiper-slide><img src="images\1.avif" alt="">
                    <div class="card-body">
                        <h3 class="card-title">জীবনে টাকার অভাব হবে না,জানেন অর্থ নিয়ে কী পরামর্শ দিয়েছেন মহাত্মা
                            গাঁধী
                        </h3>
                        <br>
                        <p class="card-text">শুধু ভারতেই নয়, সারা বিশ্বে রয়েছে মহাত্মা গাঁধীর বিপুল সংখ্যক অনুগামী।
                            মার্টিন লুথার কিং জুনিয়র থেকে শুরু করে নেলসন
                            ম্যান্ডেলা, বারাক ওবামা গাঁধীর আদর্শ অনুপ্রাণিত হয়েছেন। মহাত্মা গাঁধীর শিক্ষা সারা
                            বিশ্বের
                            অনেকের জীবন পরিবর্তনে প্রভাব ফেলেছে।
                            তাঁর জন্মবার্ষিকীতে জেনে নিন অর্থ সম্পর্কিত কিছু পরামর্শ, যা বদলে দিতে পারে তাদের জীবন।
                        </p>
                    </div>
                </swiper-slide>
                <swiper-slide><img src="images\2.avif" alt="">
                    <div class="card-body">
                        <h3 class="card-title">জীবনে টাকার অভাব হবে না,জানেন অর্থ নিয়ে কী পরামর্শ দিয়েছেন মহাত্মা
                            গাঁধী
                        </h3>
                        <br>
                        <p class="card-text">শুধু ভারতেই নয়, সারা বিশ্বে রয়েছে মহাত্মা গাঁধীর বিপুল সংখ্যক অনুগামী।
                            মার্টিন লুথার কিং জুনিয়র থেকে শুরু করে নেলসন
                            ম্যান্ডেলা, বারাক ওবামা গাঁধীর আদর্শ অনুপ্রাণিত হয়েছেন। মহাত্মা গাঁধীর শিক্ষা সারা
                            বিশ্বের
                            অনেকের জীবন পরিবর্তনে প্রভাব ফেলেছে।
                            তাঁর জন্মবার্ষিকীতে জেনে নিন অর্থ সম্পর্কিত কিছু পরামর্শ, যা বদলে দিতে পারে তাদের জীবন।
                        </p>
                    </div>
                </swiper-slide>
                <swiper-slide><img src="images\5.avif" alt="">
                    <div class="card-body">
                        <h3 class="card-title">জীবনে টাকার অভাব হবে না,জানেন অর্থ নিয়ে কী পরামর্শ দিয়েছেন মহাত্মা
                            গাঁধী
                        </h3>
                        <br>
                        <p class="card-text">শুধু ভারতেই নয়, সারা বিশ্বে রয়েছে মহাত্মা গাঁধীর বিপুল সংখ্যক অনুগামী।
                            মার্টিন লুথার কিং জুনিয়র থেকে শুরু করে নেলসন
                            ম্যান্ডেলা, বারাক ওবামা গাঁধীর আদর্শ অনুপ্রাণিত হয়েছেন। মহাত্মা গাঁধীর শিক্ষা সারা
                            বিশ্বের
                            অনেকের জীবন পরিবর্তনে প্রভাব ফেলেছে।
                            তাঁর জন্মবার্ষিকীতে জেনে নিন অর্থ সম্পর্কিত কিছু পরামর্শ, যা বদলে দিতে পারে তাদের জীবন।
                        </p>
                    </div>
                </swiper-slide>
                <swiper-slide><img src="images\4.avif" alt="">
                    <div class="card-body">
                        <h3 class="card-title">জীবনে টাকার অভাব হবে না,জানেন অর্থ নিয়ে কী পরামর্শ দিয়েছেন মহাত্মা
                            গাঁধী
                        </h3>
                        <br>
                        <p class="card-text">শুধু ভারতেই নয়, সারা বিশ্বে রয়েছে মহাত্মা গাঁধীর বিপুল সংখ্যক অনুগামী।
                            মার্টিন লুথার কিং জুনিয়র থেকে শুরু করে নেলসন
                            ম্যান্ডেলা, বারাক ওবামা গাঁধীর আদর্শ অনুপ্রাণিত হয়েছেন। মহাত্মা গাঁধীর শিক্ষা সারা
                            বিশ্বের
                            অনেকের জীবন পরিবর্তনে প্রভাব ফেলেছে।
                            তাঁর জন্মবার্ষিকীতে জেনে নিন অর্থ সম্পর্কিত কিছু পরামর্শ, যা বদলে দিতে পারে তাদের জীবন।
                        </p>
                    </div>
                </div>
                </swiper-slide>
            </swiper-container>


            <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
        </section>
        <section>
            <div class="content-wrap">
                <section class="allNews">
                    <article class="card-news">
                        <!-- <div class="newsCard"> -->
                        <!-- News content -->
                        <div class="news">
                            <div class="newsBanner">
                                <img src="images/6.avif" alt="" style="width: 300px;">
                            </div>
                            <div>
                                <h4 class="news-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h4>
                                <p class="news-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe
                                    soluta
                                    hic, alias consectetur fugit natus quidem ipsum molestiae veniam aspernatur ex,
                                    doloremque ut laboriosam? Aut fugit nostrum architecto ad porro necessitatibus,
                                    facilis
                                    est voluptatum, a molestias eum explicabo labore modi quasi, voluptas quidem
                                    voluptate
                                    maiores. Obcaecati praesentium repudiandae ut dicta illo rem sint, enim quas
                                    repellat
                                    minus debitis possimus, fuga ipsam dolore inventore expedita animi quidem soluta
                                    blanditiis! Recusandae error doloremque asperiores vel debitis, possimus cum nemo,
                                    et
                                    quas veritatis, deleniti fuga architecto ipsa neque temporibus odit atque tempora
                                    repudiandae odio excepturi delectus?
                                </p>
                            </div>
                            <!-- </div> -->
                    </article>
                    <article class="card-news">
                        <!-- <div class="newsCard"> -->
                        <!-- News content -->
                        <div class="news" style="display: flex;">
                            <div class="newsBanner">
                                <img src="images/6.avif" alt="" style="width: 300px;">
                            </div>
                            <div>
                                <h4 class="news-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h4>
                                <p class="news-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe
                                    soluta
                                    hic, alias consectetur fugit natus quidem ipsum molestiae veniam aspernatur ex,
                                    doloremque ut laboriosam? Aut fugit nostrum architecto ad porro necessitatibus,
                                    facilis
                                    est voluptatum, a molestias eum explicabo labore modi quasi, voluptas quidem
                                    voluptate
                                    maiores. Obcaecati praesentium repudiandae ut dicta illo rem sint, enim quas
                                    repellat
                                    minus debitis possimus, fuga ipsam dolore inventore expedita animi quidem soluta
                                    blanditiis! Recusandae error doloremque asperiores vel debitis, possimus cum nemo,
                                    et
                                    quas veritatis, deleniti fuga architecto ipsa neque temporibus odit atque tempora
                                    repudiandae odio excepturi delectus?
                                </p>
                            </div>
                            <!-- </div> -->
                    </article>


                    <!-- Add more card-news here -->
                </section>
                <aside class="ad-container">
                    <!-- Ads content -->
                    <div class="adDiv col-lg-2">
                        <!-- Ad content -->
                        <img src="images/6.avif" alt="not-found">
                    </div>

                    <div class="adDiv col-lg-2">
                        <!-- Ad content -->
                        <img src="images/6.avif" alt="not-found">
                    </div>
                    <!-- Add more ads here -->
                </aside>

            </div>
        </section>
        <br>
        <section >
            <div style="padding-bottom: 50px;">
                <div class="headlines">
                    <div class="line"></div>
                    <!-- <div class="line"></div> -->
                    
                    <div class="NewsHeading">Exclusive News</div>
                    <div class="line"></div>
                  
                </div>
                <br>
                <div>
                    <div class="container">
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-2">
                            <div class="col card-Content" style="
                          padding-left: 20px;
                      ">
                                <!-- <div class="p-2" class="news-content-box"> -->
                                <div class="card" style="width: 18rem;">
                                    <img src="images\1.avif" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Some quick example text to build on the card title and
                                            make up the bulk of the card's content.</h5>
                                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->

                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                            <div class="col card-Content" style="
                          padding-left: 20px;
                      ">
                                <!-- <div class="p-2" class="news-content-box"> -->
                                <div class="card" style="width: 18rem;">
                                    <img src="images\1.avif" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Some quick example text to build on the card title and
                                            make up the bulk of the card's content.</h5>
                                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->

                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                            <div class="col card-Content" style="
                          padding-left: 20px;
                      ">
                                <!-- <div class="p-2" class="news-content-box"> -->
                                <div class="card" style="width: 18rem;">
                                    <img src="images\1.avif" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Some quick example text to build on the card title and
                                            make up the bulk of the card's content.</h5>
                                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->

                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                            <div class="col card-Content" style="
                          padding-left: 20px;
                      ">
                                <!-- <div class="p-2" class="news-content-box"> -->
                                <div class="card" style="width: 18rem;">
                                    <img src="images\1.avif" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Some quick example text to build on the card title and
                                            make up the bulk of the card's content.</h5>
                                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->

                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->

                            <!-- </div> -->
                            <br>

                            <div class="col card-Content" style="
                        padding-left: 20px;
                    ">
                                <!-- <div class="p-2" class="news-content-box"> -->
                                <div class="card" style="width: 18rem;">
                                    <img src="images\1.avif" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Some quick example text to build on the card title and
                                            make up the bulk of the card's content.</h5>
                                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->

                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                            <div class="col card-Content" style="
                        padding-left: 20px;
                    ">
                                <!-- <div class="p-2" class="news-content-box"> -->
                                <div class="card" style="width: 18rem;">
                                    <img src="images\1.avif" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Some quick example text to build on the card title and
                                            make up the bulk of the card's content.</h5>
                                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->

                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                            <div class="col card-Content" style="
                        padding-left: 20px;
                    ">
                                <!-- <div class="p-2" class="news-content-box"> -->
                                <div class="card" style="width: 18rem;">
                                    <img src="images\1.avif" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Some quick example text to build on the card title and
                                            make up the bulk of the card's content.</h5>
                                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->

                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                            <div class="col card-Content " style="
                        padding-left: 20px;
                    ">
                                <!-- <div class="p-2" class="news-content-box"> -->
                                <div class="card" style="width: 18rem;">
                                    <img src="images\1.avif" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Some quick example text to build on the card title and
                                            make up the bulk of the card's content.</h5>
                                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->

                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>


                        </div>

        </section>
        <section class="second-Swiper">
            <div class="headlines">
                <div class="line"></div>
                <!-- <div class="line"></div> -->
                
                <div class="NewsHeading">Trending News</div>
                <div class="line"></div>
              
            </div>
            <br>
            <div class="swiper-body">
            <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="30"
    slides-per-view="4" autoplay-delay="2500" autoplay-disable-on-interaction="false">
    <swiper-slide style="display: block;text-align:start"><img src="images\4.avif" alt="">
        <div ><h3 class="card-title">Some quick example text to build on the card title and
            make up the bulk of the card's content.
        </h3></div>
        
    </swiper-slide> 
    <swiper-slide style="display: block;text-align:start"><img src="images\4.avif" alt="">
        <div><h3 class="card-title">Some quick example text to build on the card title and
            make up the bulk of the card's content.
        </h3></div>
    </swiper-slide>
    <swiper-slide style="display: block;text-align:start"><img src="images\4.avif" alt="">
        <div><h3 class="card-title">Some quick example text to build on the card title and
            make up the bulk of the card's content.
        </h3></div>
        
    </swiper-slide>
    <swiper-slide style="display: block;text-align:start"><img src="images\4.avif" alt="">
        <div><h3 class="card-title">Some quick example text to build on the card title and
            make up the bulk of the card's content.
        </h3></div>
       
    </swiper-slide>
    <swiper-slide style="display: block;text-align:start"><img src="images\4.avif" alt="">
        <div><h3 class="card-title">Some quick example text to build on the card title and
            make up the bulk of the card's content.
        </h3></div>
        <br>
    </swiper-slide>
    <swiper-slide style="display: block;text-align:start"><img src="images\4.avif" alt="">
        <div><h3 class="card-title">Some quick example text to build on the card title and
            make up the bulk of the card's content.
        </h3></div>
        
    </swiper-slide>
    <swiper-slide style="display: block;text-align:start"><img src="images\4.avif" alt="">
        <div><h3 class="card-title">Some quick example text to build on the card title and
            make up the bulk of the card's content.
        </h3></div>
        <br>
    </swiper-slide>
    <swiper-slide style="display: block;text-align:start"><img src="images\4.avif" alt="">
        <div><h3 class="card-title">Some quick example text to build on the card title and
            make up the bulk of the card's content.
        </h3></div>
       
    </swiper-slide>
    <swiper-slide style="display: block;text-align:start"><img src="images\4.avif" alt="">
        <div><h3 class="card-title">Some quick example text to build on the card title and
            make up the bulk of the card's content.
        </h3></div>
        

    </swiper-slide>
</div>
  </swiper-container>
              <!-- Swiper JS -->
              <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
            
              <!-- Initialize Swiper -->
        </section>
    </div>

    <%- include("partials/footer.ejs") %>